apppath
draugr
sphinx>=5.1.1 # -e git://github.com/snide/sphinx_rtd_theme.git#egg=sphinx_rtd_theme
#m2r2
sphinxcontrib-programoutput
warg
#mistune

#-r requirements_dev.txt
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
